<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
    <style>
        .error-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ffcccc;
            padding: 10px;
            border: 1px solid #f00;
        }
    </style>
</head>
<body>
<h2>User Registration</h2>
<!-- Error Popup -->
<div th:if="${error}" class="error-popup">
    <p th:text="${error}"></p>
    <button onclick="closeErrorPopup()">Close</button>
</div>

<form th:action="@{/register}" th:object="${user}" method="post">

    <p>Name: <input type="text" th:field="*{name}" required /></p>
    <p>College: <input type="text" th:field="*{college}" required /></p>
    <p>Year: <input type="number" th:field="*{year}" required /></p>
    <p>Department: <input type="text" th:field="*{department}" required /></p>
    <p>Roll: <input type="text" th:field="*{roll}" required /></p>
    <p>Phone Number: <input type="text" th:field="*{phoneNumber}" required /></p>
    <p>Email: <input type="email" th:field="*{email}" required /></p>
    <p style="color: red" th:if="${error}" th:text="${error}"></p>

    <button type="submit">Register</button>
</form>

<script>
    // JavaScript function to close the error popup
    function closeErrorPopup() {
        var errorPopup = document.querySelector('.error-popup');
        errorPopup.style.display = 'none';
    }
</script>
</body>
</html>





